[project]
	description = Cheezburger Custom Administration Panel
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/VonVictor V. Rosenchild (VonRosenchild)
[access "refs/for/refs/*"]
	read = group user/VonVictor V. Rosenchild (VonRosenchild)
	push = group user/VonVictor V. Rosenchild (VonRosenchild)
	label-Code-Review = -2..+2 group user/VonVictor V. Rosenchild (VonRosenchild)
	label-Verified = -1..+1 group user/VonVictor V. Rosenchild (VonRosenchild)
	rebase = group user/VonVictor V. Rosenchild (VonRosenchild)
	removeReviewer = group user/VonVictor V. Rosenchild (VonRosenchild)
	submit = group user/VonVictor V. Rosenchild (VonRosenchild)
[access "refs/heads/*"]
	read = group user/VonVictor V. Rosenchild (VonRosenchild)
	create = group user/VonVictor V. Rosenchild (VonRosenchild)
	push = +force group user/VonVictor V. Rosenchild (VonRosenchild)
	pushMerge = group user/VonVictor V. Rosenchild (VonRosenchild)
[access "refs/tags/*"]
	push = +force group user/VonVictor V. Rosenchild (VonRosenchild)
	pushTag = group user/VonVictor V. Rosenchild (VonRosenchild)
	pushSignedTag = group user/VonVictor V. Rosenchild (VonRosenchild)
